@font-face {
    font-family: 'Graphik';
    src: url(../fonts/Graphik-Regular-Web.woff2) format('woff2'),
         url(../fonts/Graphik-Regular-Web.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url(../fonts/Graphik-RegularItalic-Web.woff2) format('woff2'),
         url(../fonts/Graphik-RegularItalic-Web.woff2) format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url(../fonts/Graphik-Semibold-Web.woff2) format('woff2'),
         url(../fonts/Graphik-Semibold-Web.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url(../fonts/Graphik-SemiboldItalic-Web.woff2) format('woff2'),
         url(../fonts/Graphik-SemiboldItalic-Web.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}